---
import Layout from "../layouts/Layout.astro";

import QRCode from "../assets/QR Image.svg";
---

<Layout>
	<main class="grid h-full w-full place-items-center bg-slate-300">
		<section class="max-w-80 space-y-6 rounded-[20px] bg-white px-4 pb-10 pt-4">
			<QRCode class="h-auto max-w-80" />

			<div class="space-y-4 px-4 text-center">
				<h1
					class="text-[22px] font-bold leading-[120%] tracking-normal text-slate-900"
				>
					Improve your front-end skills by building projects
				</h1>
				<p class="text-[15px] leading-[140%] tracking-[0.2px] text-slate-500">
					Scan the QR code to visit Frontend Mentor and take your coding skills
					to the next level
				</p>
			</div>
		</section>
	</main>
</Layout>
